In [2]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 1.2 MB/s eta 0:00:00[31m1.1 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25 in /home/rishi/.local/lib/python3.10/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/rishi/.local/lib/python3.10/site-packages (from seaborn) (3.6.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/rishi/.local/lib/python3.10/site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/rishi/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /home/rishi/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/rishi/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /home/rishi/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [7]:
df = pd.read_csv(r"/home/rishi/Desktop/DataScience/Data/Titanic_data/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
columns = df.columns
print(columns)

columns= list(columns)
print(columns)

for i in columns:
    d=df[i].isna().sum()
    print("The No.Of null values in {column} is {count}".format(column=i, count = d))

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
The No.Of null values in PassengerId is 0
The No.Of null values in Survived is 0
The No.Of null values in Pclass is 0
The No.Of null values in Name is 0
The No.Of null values in Sex is 0
The No.Of null values in Age is 177
The No.Of null values in SibSp is 0
The No.Of null values in Parch is 0
The No.Of null values in Ticket is 0
The No.Of null values in Fare is 0
The No.Of null values in Cabin is 687
The No.Of null values in Embarked is 2

In [22]:
for i in columns:
    if(df[i].dtype==int):
        df[i]=df[i].fillna(df[i].mean())
        d=df[i].isna().sum()
        print("The No.Of null values in {column} is {count}".format(column=i, count = d))
    else:
        df[i]=df[i].fillna('Zero')
        d=df[i].isna().sum()
        print("The No.Of null values in {column} is {count}".format(column=i, count = d))

The No.Of null values in PassengerId is 0
The No.Of null values in Survived is 0
The No.Of null values in Pclass is 0
The No.Of null values in Name is 0
The No.Of null values in Sex is 0
The No.Of null values in Age is 0
The No.Of null values in SibSp is 0
The No.Of null values in Parch is 0
The No.Of null values in Ticket is 0
The No.Of null values in Fare is 0
The No.Of null values in Cabin is 0
The No.Of null values in Embarked is 0